/* FRONT STYLES */
#ctm_banner{
max-height: 320px;
overflow: hidden;
}
.ctm_sec_navbar{
	margin-top: -5px;
}
.ctm_fb_login{
	color: #3B5998;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
.ctm_fb_login > img{
	display: inline-block;
	width:18px;
	margin-top:-5px;
}

.ctm_cart > img{
	display: inline-block;
	width:25px;
	margin-top:-5px;
}
.ctm_cart{
	color: #f96684;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
.ctm_social_media{
	background-color: #fafafa;
	background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
	background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
	background-repeat: repeat-x;
	margin-right: -2px;
	padding-bottom: 20px;
	border: 1px solid #d4d4d4;

	-webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
#ctm_home_content{
	min-height: 300px;
}
.ctm_fb_share > img{
	display: inline-block;
	width:18px;
}
.footer_menu ul li{
	display: inline-block;
	list-style-type: none;
	padding: 0 15px;
}
#footer_copyright{
	margin-top: 30px;
}
.ctm_ads{
	margin-top: 8px;
}
.terms{
	border: 1px #CCCCCC solid;
	color: #777777;
	margin-top:-5px;
	border-top:0px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.terms_head{
	background-color: #fafafa;
	background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
	background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
	background-repeat: repeat-x;
	margin-right: -2px;
	padding-bottom: 10px;
	border: 1px solid #d4d4d4;

	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
     -moz-border-top-left-radius: 4px;
     -moz-border-top-right-radius: 4px;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}